<h2>Edit todo</h2>

<%=
  form_for :todo, routes.todo_path(id: todo.id), { method: 'patch' } do
    div class: 'input mb-3' do
      label      :name, class: 'form-label'
      text_field :name, class: 'form-control', value: todo.name
    end

    div class: 'input mb-3' do
      label      :status, class: 'form-label'
      values = Hash['Select status' => nil, 'Completed' => 'completed', 'Pending' => 'pending', 'Inprogress' => 'inprogress']
      select     :status, values , class: "form-select", options: { selected: todo.status }
    end

    div class: 'controls mb-3' do
      submit 'Update', class: "btn btn-success"
    end
  end
%>